<!--?xml version="1.0" encoding="UTF-8" standalone="no"?--><!doctype html>
<a class="h-10 w-40 sm:h-10" href="/">
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 2994 547"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"
  >
    <g id="LOGO">
      <g>
        <circle
          cx="1619.39"
          cy="264.854"
          r="232.362"
          style="fill:none;stroke:currentColor;stroke-width:62.27px;"></circle>
        <circle
          cx="1620.7"
          cy="268.782"
          r="134.181"
          style="fill:currentColor;stroke:currentColor;stroke-width:15.35px;"
        ></circle>
      </g>
      <text
        x="1975.01px"
        y="520.893px"
        style="font-family:'Bauhaus93', 'Bauhaus 93', fantasy;font-size:768.303px;fill:currentColor;"
        >R</text
      >
      <text
        x="2569.41px"
        y="381.525px"
        style="font-family:'Bauhaus93', 'Bauhaus 93', fantasy;font-size:768.303px;fill:currentColor;"
        >p</text
      >
      <path
        d="M1068.6,284.738l159.376,6.05c-11.499,82.399 -40.84,145.825 -88.023,190.277c-47.182,44.452 -108.286,66.226 -183.31,65.321c-76.275,-0.92 -139.799,-27.261 -190.574,-79.022c-50.775,-51.762 -75.705,-115.53 -74.791,-191.304c0.92,-76.274 27.89,-140.104 80.909,-191.489c53.019,-51.385 117.916,-76.614 194.691,-75.688c75.524,0.911 138.237,27.179 188.138,78.805c34.586,35.684 58.751,85.123 72.495,148.318l-163.308,8.911c-17.581,-56.239 -51.879,-84.665 -102.895,-85.281c-32.511,-0.392 -59.468,10.538 -80.871,32.791c-21.403,22.252 -32.314,50.759 -32.734,85.52c-0.404,33.511 9.64,61.332 30.133,83.465c20.493,22.132 46.619,33.39 78.38,33.773c32.26,0.389 58.072,-8.929 77.435,-27.955c19.364,-19.025 31.013,-46.522 34.949,-82.492Z"
        style="fill:currentColor;fill-rule:nonzero;"></path>
      <text
        x="-40.891px"
        y="524.832px"
        style="font-family:'Bauhaus93', 'Bauhaus 93', fantasy;font-size:768.303px;fill:currentColor;"
        >E</text
      >
      <path
        d="M434.655,302.13l127.386,-0.466l0,-72.688l-127.386,-1.397l0,74.551Z"
        style="fill:currentColor;stroke:currentColor;stroke-width:4.36px;"
      ></path>
    </g>
  </svg>
</a>
