---
import Logo from "@icons/Logo.astro";
import Layout from "../layouts/Layout.astro";
import FooterLogin from "../components/FooterLogin.astro"
---

<Layout title="Login">

  <header id="landing-header"
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 bg-gray-100"
  >
  <div class="flex flex-grow basis-0">
    <a href="./"><Logo /></a>
    </div>
  </header>


  <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full space-y-8">

      
        <h1 class="tds-text--h1-alt tds-text-eyebrow">Ingresa</h1>
      
      <form class="mt-8 space-y-6" action="#" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only"></label>
            <input
              id="email-address"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email"
            />
          </div>
        </div>

        <!-- Aquí iría el captcha, pero como no podemos hacer llamadas a la API, solo colocaremos un placeholder -->
        <div class="flex justify-center">
          <div class="bg-gray-200 rounded p-4 text-center">
            CAPTCHA 
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          >
            Next
          </button>
        </div>
      </form>
      <div class="flex items-center justify-between">
        <div class="text-sm">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            Trouble signing in?
          </a>
        </div>

        <div class="text-sm">
          <a
            href="/registerV1"
            class="font-medium text-indigo-600 hover:text-indigo-500"
          >
            Create Account
          </a>
        </div>
      </div>
    </div>
  </div>
<FooterLogin>
</FooterLogin>
</Layout>
