---
import LayoutAccount from "../layouts/LayoutAccount.astro";
import PaymentMethod from "../components/PaymentMethod.astro";
---

<LayoutAccount title="Ecorp Account">
  <!-- Encabezado fijo -->
  <header></header>

  <!-- Contenedor principal con padding-top para el encabezado -->
  <div>
    <!-- Barra lateral fija -->
    <aside></aside>

    <!-- Contenedor para el contenido principal -->
    <main class="">
      <PaymentMethod/>
    </main>
  </div>
</LayoutAccount>
