<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div
      class="flex items-center justify-center md:justify-start flex-col md:flex-row"
    >
      <a
        class="flex title-font font-medium items-center text-gray-900 justify-center md:justify-start"
      >
        <!-- Logo o título aquí -->
      </a>
      <p class="text-sm text-gray-500 mt-4 md:mt-0 md:ml-6">
        <a
          href="https://www.tesla.com"
          class="text-gray-600 ml-1"
          rel="noopener noreferrer"
          target="_blank"
        >
        </a>
      </p>
    </div>
    <nav class="flex justify-center mt-4">
      <nav>
        <ul
          class="flex flex-wrap justify-center md:justify-start space-x-2 md:space-x-4 py-2"
        >
          <li>
            <a href="#" class="inline-block px-2 py-1 hover:text-gray-700"
              >Tesla © 2024</a
            >
          </li>
          <li>
            <a href="#" class="inline-block px-2 py-1 hover:text-gray-700"
              >Privacidad y legal</a
            >
          </li>
          <li>
            <a href="#" class="inline-block px-2 py-1 hover:text-gray-700"
              >Contacto</a
            >
          </li>
          <li>
            <a href="#" class="inline-block px-2 py-1 hover:text-gray-700"
              >Noticias</a
            >
          </li>
          <li>
            <a href="#" class="inline-block px-2 py-1 hover:text-gray-700"
              >Seguir informado</a
            >
          </li>
          <li>
            <a href="#" class="inline-block px-2 py-1 hover:text-gray-700"
              >Localización de tiendas</a
            >
          </li>
        </ul>
      </nav>
    </nav>
  </div>
</footer>
